.books_component
    width: 100%

    &_header
        text-align: right
        padding: 3% 0% 3% 0
        
        button
            padding: 2%
            width: 25%

    &_content
        width: 100%
        margin: 0 auto

        table
            width: 100%

