.home_component
    width: 103%

    &_header
        text-align: right
        padding: 3% 10% 3% 0
        
        button
            padding: 2%
            width: 25%
            background-color: green
            color: white
            border: none
            border-radius: 5px

        button:hover
            background-color: orange
            color: white

    &_content
        width: 80%
        margin: 0 auto
        
        table
            background-color: #a8bfff80

#table_data
    text-align: center
    width: 50%

#table_row
    background-color:  #3267f780